# Project exclude paths
/gradlew
/.idea/
/.gradle/
/gradle*
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Topics/Branching statements/The integer barrier/out/
/Topics/Branching statements/The integer barrier/out/production/classes/
/Topics/Calling a method/Area of parallelogram/out/
/Topics/Calling a method/Area of parallelogram/out/production/classes/
/Topics/Conditional statement/Chocolate/out/
/Topics/Conditional statement/Chocolate/out/production/classes/
/Topics/Declaring a method/Find the max of three numbers/out/
/Topics/Declaring a method/Find the max of three numbers/out/production/classes/
/Topics/Declaring a method/Raise to the power/out/
/Topics/Declaring a method/Raise to the power/out/production/classes/
/Topics/Enums in Java/Hidden enumeration/out/
/Topics/Enums in Java/Hidden enumeration/out/production/classes/
/Topics/Increment and decrement/Decrement all/out/
/Topics/Increment and decrement/Decrement all/out/production/classes/
/Topics/Integer types and operations/Desks/out/
/Topics/Integer types and operations/Desks/out/production/classes/
/Topics/Integer types and operations/Good rest on vacation/out/
/Topics/Integer types and operations/Good rest on vacation/out/production/classes/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/production/classes/
/Topics/Integer types and operations/Reversing/out/
/Topics/Integer types and operations/Reversing/out/production/classes/
/Topics/Iterating over arrays/Check if an array contains two numbers/out/
/Topics/Iterating over arrays/Check if an array contains two numbers/out/production/classes/
/Topics/Iterating over arrays/Right Rotation/out/
/Topics/Iterating over arrays/Right Rotation/out/production/classes/
/Topics/Iterating over arrays/The sum of array elements/out/
/Topics/Iterating over arrays/The sum of array elements/out/production/classes/
/Topics/Printing data/From 0 to 4/out/
/Topics/Printing data/From 0 to 4/out/production/classes/
/Topics/Printing data/Printing a magic letter/out/
/Topics/Printing data/Printing a magic letter/out/production/classes/
/Topics/Relational operators/Check the given numbers are different/out/
/Topics/Relational operators/Check the given numbers are different/out/production/classes/
/Topics/Relational operators/Exactly one parameter is positive/out/
/Topics/Relational operators/Exactly one parameter is positive/out/production/classes/
/Topics/Relational operators/Groundhogs at a party/out/
/Topics/Relational operators/Groundhogs at a party/out/production/classes/
/Topics/Scanning the input/Guest list of a hotel/out/
/Topics/Scanning the input/Guest list of a hotel/out/production/classes/
/Topics/Scanning the input/Print strings in the reverse order/out/
/Topics/Scanning the input/Print strings in the reverse order/out/production/classes/
/Topics/Static members/Detail manufacturing/out/
/Topics/Static members/Detail manufacturing/out/production/classes/
/Topics/String/Check burgs/out/
/Topics/String/Check burgs/out/production/classes/
/Topics/String/Check prefix ignoring the case/out/
/Topics/String/Check prefix ignoring the case/out/production/classes/
/Topics/The while and do-while loops/The largest element of a sequence/out/
/Topics/The while and do-while loops/The largest element of a sequence/out/production/classes/
/Topics/The while and do-while loops/The sum of elements/out/
/Topics/The while and do-while loops/The sum of elements/out/production/classes/